# Ignore build target directories in all sub-projects
**/target/

# Ignore compiled files
**/*.pdb
**/*.exe

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Incase I accidentally make a .vscode folder and forget to remove it
.vscode/